*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: calc(100vw - 65vw);
    max-width: 100%;
}

.header{
    padding: 30px 0;
}

.header h2 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.form{
    padding: 40px;
}

.form-control{
    margin-bottom: 30px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 12px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    right: 2px;
    top: 38px;
    visibility: hidden;
}

.form-control.success i.fa-circle-check{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-circle-exclamation{
    color: #e74c3c;
    visibility: visible;
}

.form-control small{
    color: #e74c3c;
    position:
     absolute;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form .btn{
    border-radius: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px 0;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.form p{
    text-align: center;
}


/* FOR LOGIN */
/* 
.login-form{
    padding: 40px;
}

.form-control-login{
    margin-bottom: 30px;
    position: relative;
}

.form-control-login label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control-login input{
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 12px;
}

.form-control-login input:focus{
    outline: 0;
    border-color: #777;
}

.form-control-login.success input{
    border-color: #2ecc71;
}

.form-control-login.error input{
    border-color: #e74c3c;
}

.form-control-login i{
    position: absolute;
    right: 2px;
    top: 38px;
    visibility: hidden;
}

.form-control-login.success i.fa-circle-check{
    color: #2ecc71;
    visibility: visible;
}

.form-control-login.error i.fa-circle-exclamation{
    color: #e74c3c;
    visibility: visible;
}

.form-control-login small{
    color: #e74c3c;
    position: absolute;
    left: 0;
    visibility: hidden;
}

.form-control-login.error small{
    visibility: visible;
}

.login-form .btn{
    border-radius: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px 0;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
} */